/* common shared style */
body {
    font-family: 'Open Sans',
        sans-serif;
}

.main-color {
    color: #FD6E0A;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: none;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 15px 35px;
}

.section-title {
    color: #181818;
    text-align: center;
    font-family: Open Sans;
    font-size: 35px;
    font-weight: 700;
}

.section-details {
    color: var#757575;
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
}



/* nav related style */
nav {
    display: flex;
    justify-content: space-between;
    margin: 0px 200px;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-family: Open Sans;
    font-weight: 800;
    word-wrap: break-word
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
    font-size: 20px;
    font-weight: 400;
}

nav a {
    text-decoration: none;
    color: #181818;
}

/* header related style */

.header-color {
    background-color: #FFF8F3;
    background-image: url(./images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner img {
    width: 584px;
    padding-bottom: 0px;
}

.banner-hi {
    font-size: 45px;
    color: #474747;
    margin: 0px;
}

.banner-name {
    font-size: 85px;
    font-weight: 700;
    margin: 0px;
}

.banner-details {
    margin-top: 0px;
    max-width: 585px;
}




/* Main section */
main {
    max-width: 1140px;
    margin: 0 auto;
}

.about {
    border-radius: 10px;
    background-color: #FFF8F3;
    margin: 130px 0px;
    padding: 130px;
}




/* about section */

.about-info-container {
    display: flex;
    justify-content: space-around;

}

.about-info {
    text-align: center;
}

.about-info>h4,
.about-info>p {
    margin: 0px;
}

#section-description {
    padding: 30px 150px;
    margin-top: 0px;
}

#Section-head {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.skill-set {
    width: 200px;
    padding: 30px;
    box-shadow: 3px 3px 10px #6d6d6ddb;
}

.skill-set-container {
    display: flex;
    justify-content: space-between;
}